.doctor-container{
    width:100%;
    padding-left:50px;
    display:flex;
    margin:5rem 0px;
}

.doctor-left{
    min-width:275px;
    width:275px;
    padding:10px;
}

.doctor-left > h2{
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 49px;
    letter-spacing: 0px;
    text-align: left;
    color: rgb(0, 48, 85);
}

.doctor-left > p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130.2%;
    color: rgb(51, 51, 51);
    margin-top: 0;
    margin-bottom: 1em;
}

.doctor-button-container{
    display:flex
}

.doctor-button-container > button{
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.doctor-button-container>button:hover{
    cursor: pointer;
}

.doctor-right{
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    transition: scroll-behavior 1s ease 0s;
    scrollbar-width: none;
}

.doctor-card{
    box-sizing: border-box;
    min-width: 250px;
    width: 250px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    border-right: 1px solid rgb(190, 221, 242);
}

.doctor-img{
    width:100px;
    height:100px;
    border-radius:50%;
}
/* this is the comment */
.doctor-card > span[class="name"]{
    margin-top:1rem;
}
.doctor-card > span[class="education"]{
    width: 50%;
    text-align: center;
    margin-top: 1rem;
}
.doctor-card > span[class="mantra"]{
    -moz-box-flex: 1;
    flex-grow: 1;
    margin-top: 1rem;
    text-align: center;
    font-style: italic;
}


@media screen and (max-width: 768px){
    .doctor-container{
        padding-left: 0rem;
        flex-flow: column nowrap;
        margin: 1rem 0px;
    }
    .doctor-left{
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content:center;
        align-items:center;
    }
        .doctor-left>h2 {
            font-size: 18px;
            line-height: 35px;
        }
    
        .doctor-left>p {
            font-size: 12px;
        }
    
        .doctor-button-container {
            display: flex;
            -moz-box-pack: center;
            justify-content: center;
        }
    
        .doctor-button-container>button {
            display: inline-block;
            font-weight: 400;
            color: #212529;
            text-align: center;
            vertical-align: middle;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-color: transparent;
            border: 1px solid transparent;
            padding: .375rem .75rem;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: .25rem;
            transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        }
    
        .doctor-button-container>button:hover {
            cursor: pointer;
        }
    
        .doctor-right {
            display: flex;
            overflow-x: auto;
            scroll-behavior: smooth;
            transition: scroll-behavior 1s ease 0s;
            scrollbar-width: none;
        }
    
        .doctor-card {
            min-width: 175px;
            width: 175px;
        }
    
        .doctor-img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
    
        /* this is the comment */
        .doctor-card>span[class="name"] {
            margin-top: 1rem;
        }
    
        .doctor-card>span[class="education"] {
            width: 50%;
            text-align: center;
            margin-top: 1rem;
        }
    
        .doctor-card>span[class="mantra"] {
            -moz-box-flex: 1;
            flex-grow: 1;
            margin-top: 1rem;
            text-align: center;
            font-style: italic;
        }
}